%p.top テニスコミュニケーション
.side-left
.contents
  = form_with model: @post, class: :form, local: true do |form|
    .input-box
      %p.question レッスンについて
      = form.radio_button(:lesson_satisfaction, '満足している')
      満足している
      = form.radio_button(:lesson_satisfaction, 'やや満足している')
      やや満足している
      = form.radio_button(:lesson_satisfaction, 'どちらでもない')
      どちらでもない
      = form.radio_button(:lesson_satisfaction, 'やや満足していない')
      やや満足していない
      = form.radio_button(:lesson_satisfaction, '満足していない')
      満足していない
      %br
      = form.text_area :lesson_content, size: "100x4", wrap: "hard", placeholder: "ご自由にご意見をご記入ください（任意）"
      %p.question 施設の清掃状態について  
      = form.radio_button(:facility_satisfaction, '満足している')
      満足している
      = form.radio_button(:facility_satisfaction, 'やや満足している')
      やや満足している
      = form.radio_button(:facility_satisfaction, 'どちらでもない')
      どちらでもない
      = form.radio_button(:facility_satisfaction, 'やや満足していない')
      やや満足していない
      = form.radio_button(:facility_satisfaction, '満足していない')
      満足していない
      %br
      = form.text_area :facility_content, size: "100x4", wrap: "hard", placeholder: "ご自由にご意見をご記入ください（任意）"
      %p.question フロントの接客対応について
      = form.radio_button(:front_satisfaction, '満足している')
      満足している
      = form.radio_button(:front_satisfaction, 'やや満足している')
      やや満足している
      = form.radio_button(:front_satisfaction, 'どちらでもない')
      どちらでもない
      = form.radio_button(:front_satisfaction, 'やや満足していない')
      やや満足していない
      = form.radio_button(:front_satisfaction, '満足していない')
      満足していない
      %br
      = form.text_field :front_good_name, class: 'input-box__text', placeholder: "よかったフロントの名前をお聞かせください（任意）"
      %br
      = form.text_area :front_good_content, size: "100x4", wrap: "hard", placeholder: "よかったことについてご記入ください（任意）"
      %br
      = form.text_field :front_bad_name, class: 'input-box__text', placeholder: "悪かったフロントの名前をお聞かせください（任意）"
      %br
      = form.text_area :front_bad_content, size: "100x4", wrap: "hard", placeholder: "悪かったことについてご記入ください（任意）"
      %p.question コーチの接客対応について
      = form.radio_button(:coach_satisfaction, '満足している')
      満足している
      = form.radio_button(:coach_satisfaction, 'やや満足している')
      やや満足している
      = form.radio_button(:coach_satisfaction, 'どちらでもない')
      どちらでもない
      = form.radio_button(:coach_satisfaction, 'やや満足していない')
      やや満足していない
      = form.radio_button(:coach_satisfaction, '満足していない')
      満足していない
      %br
      = form.text_field :coach_good_name, class: 'input-box__text', placeholder: "よかったコーチの名前をお聞かせください（任意）"
      %br
      = form.text_area :coach_good_content, size: "100x4", wrap: "hard", placeholder: "よかったことについてご記入ください（任意）"
      %br
      = form.text_field :coach_bad_name, class: 'input-box__text', placeholder: "悪かったコーチの名前をお聞かせください（任意）"
      %br
      = form.text_area :coach_bad_content, size: "100x4", wrap: "hard", placeholder: "悪かったことについてご記入ください（任意）"
      %p.question その他、お気づきの点やご意見をご自由にご記入ください
      = form.text_area :other_content, size: "100x4", wrap: "hard", placeholder: "ご自由にご意見をご記入ください（任意）"
      %br
      = form.submit '送信', class: 'submit-btn'
.side-right

